// Common

html {
  font-size: 18px;
}

body {
  background: $wdiet-red-darkest url('../images/bg.jpg') repeat;
  font-family: $font-copy;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}