<article class="detail">
  <img class="featured-image" ng-src="{{$ctrl.post.featured_image_url}}" alt="$ctrl.post.title.rendered">

  <h1 class="title" ng-bind-html="$ctrl.post.title.rendered | trustAsHTML"></h1>

  <main class="content" ng-bind-html="$ctrl.post.content.rendered | trustAsHTML"></main>
</article>