<img class="card-img-top" ng-src="{{$ctrl.post.featured_image_url}}" alt="$ctrl.post.title.rendered" ng-if="$ctrl.post.featured_media">

<main class="content card-block">
  <h2 ng-bind-html="$ctrl.post.title.rendered | trustAsHTML" class="card-title"></h2>

  <div ng-bind-html="$ctrl.post.excerpt.rendered | trustAsHTML" class="card-text"></div>

  <a ui-sref="detail({type: $ctrl.post.type, name: $ctrl.post.slug})">Read more</a>
</main>

<aside class="map card-footer" ng-if="$ctrl.mapUrl">
  <iframe
      width="100%"
      height="300"
      frameborder="0" style="border:0"
      ng-src="{{$ctrl.mapUrl}}" allowfullscreen>
  </iframe>
</aside>

